.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

.nav-link{
    color: rgb(255, 255, 255);
    font-family: monospace;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgba(248, 248, 248, 0.393);
}

.content-body{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    overflow-y: scroll;
    padding-top: 70px;
    scroll-snap-type: y mandatory;
}

.section{
    height: 100%;
    padding: 60px 20px;
    font-family: monospace;
    font-size: 50px;
    scroll-snap-align: center;
}

.section>h4{
    color: aliceblue;
}

.typing{
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    width: 22ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}
@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.section> div> div> ul> li{
    color:aliceblue;
    font-size: 20px;
    font-family: monospace;
}
.section> div> div> ul> li:hover{
    color: aqua;
    cursor: pointer;
    text-shadow: 0px 0px 1px 1px aqua;
}

.Proj_Button, .Proj_Button:hover{
    background-color: rgba(0, 0, 0, 0); 
    color: azure;
}

.Proj_Button:hover{
    color: yellow;
    box-shadow: 0px 0px 15px 1px yellow;
}

.text_intro{
    color: rgb(210, 184, 99)
}

.project-details{
    color: white;
    font-size: 50px;
}

.details-header{
    font-size: 25px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
}

#linkedin,#youtube,#github{
    width: 188px;
    height: 188px;
    transition: width 0.5s, height 0.5s;
}
#linkedin:hover,#youtube:hover,#github:hover{
    height: 200px;
    width: 200px;
}